@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: green;
  font-size: 25px;
}

.carta {
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 300px;
  height: 400px;
  background-color: white;
  margin-top: 50px;
}

.top {
  font-size: 50px;
  width: 42px;
  height: 42px;
  margin-left: 10px;
  padding-left: 10px;
  padding-top: 12px;
  margin-top: 1px;
}
.bottom {
  font-size: 50px;
  width: 42px;
  height: 42px;
  margin-right: 10px;
  margin-bottom: 15px;
  padding-right: 20px;
  padding-bottom: 70px;
  align-self: flex-end;
}

.center {
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-self: center;
  width: 90px;
  height: 60px;
}

.red {
  color: red;
}
