@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: green;
  font-size: 150%;
}

.carta {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 300px;
  height: 400px;
  background-color: white;
  margin-top: 50px;
}

.top {
  background-color: tomato;
  width: 42px;
  height: 42px;
}

.center {
  background-color: turquoise;
  width: 100px;
  height: 35px;
}

.bottom {
  background-color: tomato;
  width: 42px;
  height: 42px;
}
